h1, h2, h3, h4, p, b, a {
	font-family: "tablet-gothic", sans-serif;
}



p {
	font-size: 18px;
	line-height: 1.8em;
}

.slide-row {
	margin: 2em 0;
	padding: 2em 0;
}

.logo {
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 700;
	height: 100%;
	width: auto;
}

.talk-title {
	font-size: 16px;
	line-height: 1.6em;
}

.logo-light {
	font-weight: 500;
	font-style: italic;
}

.slides {
	margin-top: 4em;
}

.footer {
	background-color: #F8F8F8;
}

.slide-row {}

.slide-column {
	padding: 0;
}

.text-column {
	margin: 2em 0;
}

.slide {
/*	border: 1px solid #E7E7E7;*/
	width: 100%;
	height: auto;
	margin: 0;
}

/*  Extra small devices (phones, less than 768px):
  No media query since this is the default in Bootstrap */

/*  Small devices (tablets, 768px and up)
  Rename to @screen-sm-min when we implement asset management
*/
@media (min-width: 768px) {
	p {
		font-size: 16px;
		line-height: 1.6em;
	}
	.text-column {
		margin: 0;
	}
	.logo {
		margin-left: 15px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }